body {
  margin: 0;
  padding: 0;
  font-family: "arial", heletica, sans-serif;
  font-size: 12px;
  background: #7a24c4
    url("https: //rare-gallery.com/thumbnail/77076-Satoru-GojoSatoru-Gojo-Infinity.jpg")
    repeat 0 0;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
